*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ABC Monument Grotesk';
  src: url('/assets/fonts/ABCMonumentGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk';
  src: url('/assets/fonts/ABCMonumentGrotesk-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk';
  src: url('/assets/fonts/ABCMonumentGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk';
  src: url('/assets/fonts/ABCMonumentGrotesk-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk';
  src: url('/assets/fonts/ABCMonumentGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk';
  src: url('/assets/fonts/ABCMonumentGrotesk-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk Semi-Mono';
  src: url('/assets/fonts/ABCMonumentGroteskSemi-Mono-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk Semi-Mono';
  src: url('/assets/fonts/ABCMonumentGroteskSemi-Mono-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk Semi-Mono';
  src: url('/assets/fonts/ABCMonumentGroteskSemi-Mono-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk Semi-Mono';
  src: url('/assets/fonts/ABCMonumentGroteskSemi-Mono-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-monument: 'ABC Monument Grotesk', system-ui, -apple-system, sans-serif;
  --font-monument-semi-mono: 'ABC Monument Grotesk Semi-Mono', monospace;
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --max-width: 1100px;
  --border-radius: 12px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-monument);
  background-color: #000;
  max-width: 100vw;
  overflow-x: hidden;
  background: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}